
/* MAIN STYLES */

/*Colors:White, Light Blue=#2d88aa, Red=#611b21*/

html {
background: #FFFFFF;
}

#container {
width: 1024px;
height: 7500px;
background: white;
margin: 3em auto;
}

#header {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 20px;
margin-top: 5px;
}

#section1 {
border:2px solid;
width: 1024px;
height: 250px;
margin-top: 1px;
}

#section1 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section1 #section1radio {
float: left;
display: inline;
margin-right: 20px;
margin-bottom: -15px;
text-decoration: none;
}

#header2 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section2 {
border:2px solid;
width: 1024px;
height: 420px;
margin-top: 1px;
}

#section2 #section2radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 10px;
margin-left: 5px;
margin-bottom: 0px;
}

#section2 #section2box1 {
float: left;
display: inline;
margin-right: 20px;
margin-top: 10px;
margin-left: 5px;
margin-bottom: 0px;
margin-right: 68px;
}

#textarea {
width: 1024px;
height: 70px;
margin-left: 30px;
float: left;
margin-bottom: 10px;
}

#textarea2 {
width: 1024px;
height: 70px;
margin-left: 30px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
}

#header3 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section3 {
border:2px solid;
width: 1024px;
height: 150px;
margin-top: 1px;
}

#section3 #section3radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 10px;
margin-left: 5px;
margin-bottom: 0px;
}

#header4 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section4 {
border:2px solid;
width: 1024px;
height: 260px;
margin-top: 1px;
}

#section4 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section4 #section4radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#section4 #section4p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 455px;
margin-bottom: 0px;
}

#textarea3 {
width: 1024px;
height: 70px;
margin-left: 450px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
}

#header5 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section5 {
border:2px solid;
width: 1024px;
height: 350px;
margin-top: 1px;
}

#section5 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section5 #section5radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header6 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section6 {
border:2px solid;
width: 1024px;
height: 170px;
margin-top: 1px;
}

#section6 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section6 #section6radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header7 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section7 {
border:2px solid;
width: 1024px;
height: 170px;
margin-top: 1px;
}

#section7 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section7 #section7radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header8 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section8 {
border:2px solid;
width: 1024px;
height: 170px;
margin-top: 1px;
}

#section8 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section8 #section8radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header9 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section9 {
border:2px solid;
width: 1024px;
height: 100px;
margin-top: 1px;
}

#section9 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section9 #section9radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header10 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section10 {
border:2px solid;
width: 1024px;
height: 150px;
margin-top: 1px;
}

#section10 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section10 #section10radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header11 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section11 {
border:2px solid;
width: 1024px;
height: 150px;
margin-top: 1px;
}

#section11 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section11 #section11radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header12 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#header12 p {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 18px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section12 {
border:2px solid;
width: 1024px;
height: 870px;
margin-top: 1px;
}

#section12 p {
margin-right: 5px;
margin-top: 20px;
margin-left: 35px;
}

#section12 #section12radio {
display: inline;
margin-right: 30px;
margin-top: 5px;
margin-left: 20px;
margin-bottom: 0px;
}

#header13 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#header13 p {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 18px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section13 {
border:2px solid;
width: 1024px;
height: 380px;
margin-top: 1px;
}

#section13 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section13 #section13radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header14 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}


#section14 {
border:2px solid;
width: 1024px;
height: 750px;
margin-top: 1px;
}

#section14 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section14 #text6 {
float: left;
display: inline;
margin-right: 44px;
margin-top: 20px;
margin-left: 5px;
}

#section14 #text7 {
float: left;
display: inline;
margin-right: 36px;
margin-top: 20px;
margin-left: 5px;
}

#section14 #section14radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header15 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}


#section15 {
border:2px solid;
width: 1024px;
height: 750px;
margin-top: 1px;
}

#section15 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section15 #text6 {
float: left;
display: inline;
margin-right: 44px;
margin-top: 20px;
margin-left: 5px;
}

#section15 #text7 {
float: left;
display: inline;
margin-right: 36px;
margin-top: 20px;
margin-left: 5px;
}

#section15 #section15radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header16 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}


#section16 {
border:2px solid;
width: 1024px;
height: 750px;
margin-top: 1px;
}

#section16 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section16 #text6 {
float: left;
display: inline;
margin-right: 44px;
margin-top: 20px;
margin-left: 5px;
}

#section16 #text7 {
float: left;
display: inline;
margin-right: 36px;
margin-top: 20px;
margin-left: 5px;
}

#section16 #section16radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#header17 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}


#section17 {
border:2px solid;
width: 1024px;
height: 750px;
margin-top: 1px;
}

#section17 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section17 #text6 {
float: left;
display: inline;
margin-right: 44px;
margin-top: 20px;
margin-left: 5px;
}

#section17 #text7 {
float: left;
display: inline;
margin-right: 36px;
margin-top: 20px;
margin-left: 5px;
}

#section17 #section17radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#textarea4 {
width: 1024px;
height: 70px;
margin-left: 5px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
}

#textarea5 {
width: 1024px;
height: 70px;
margin-left: 5px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
}

#textarea6 {
width: 1024px;
height: 70px;
margin-left: 5px;
float: left;
margin-top: 10px;
margin-bottom: 30px;
}

#textarea7 {
width: 1024px;
height: 70px;
margin-left: 5px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
}

#textarea8 {
width: 1024px;
height: 70px;
margin-left: 5px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
}

#header18 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section18 {
border:2px solid;
width: 1024px;
height: 300px;
margin-top: 1px;
}

#section18 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#section18 #section18radio {
float: left;
display: inline;
margin-right: 20px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

#textarea9 {
width: 1024px;
height: 70px;
margin-left: 5px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
}

#header19 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#section19 {
border:2px solid;
width: 1024px;
height: 280px;
margin-top: 1px;
}

#section19 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 20px;
margin-left: 5px;
}

#header20 {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 26px;
text-align: center;
margin-bottom: 15px;
margin-top: 5px;
}

#header20 p {
float: left;
position: relative;
height: 30px;
width: 1024px;
font-size: 18px;
text-align: center;
margin-bottom: 25px;
margin-top: 10px;
}

#section20 {
border:2px solid;
width: 1024px;
height: 180px;
margin-top: 1px;
}

#section20 p {
float: left;
display: inline;
margin-right: 20px;
margin-top: 50px;
margin-left: 5px;
}

#submitbutton {
font-size: 20px;
margin-top: 20px;
margin-left: 437px;
float: left;
}